<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<div id="test"></div>



<script>
	var user = 'guest@12345';
	var chat = '<div id="hello">hi hello</div>';
	
	sessionStorage.setItem(user, chat);
	content = sessionStorage.getItem(user);
	console.log(content);
	
	var text = chat.innerHTML = '<div class="name">add text</div>';
	console.log(text);
	
	document.getElementById('test').innerHTML =  content;
	document.getElementById('test').innerHTML =  text;
	
	document.querySelectorAll('#test').forEach(item => {
		console.log('item >>> ', item);
		console.log('item > name >>>', item.querySelector('.name').textContent);
		console.log('item >name 의 classList >>> ', item.querySelector('.name').classList[0]);
	})	
	
</script>
</body>
</html>